# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
*.easignore

# Native generated folders
/ios/
/android/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.cer

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Local env files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# Kotlin
.kotlin/

# Gradle
.gradle/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle

# CocoaPods
Pods/

# Temporary files
*.log
*.tmp

# Expo example app
app-example/
